/*universal style*/

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

h2, h3, h4, h5, p, a {
color: seashell;
}

h2 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/*header style*/

header {
  background-color: black;
  height: 69px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  color: seashell;
  padding-right: 40px;
}

/*main hero banner*/

.hero {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: block;
  margin: auto;
}

#mission {
  background-color: black;
  width: 1200px;
  position: absolute;
  top: 50%;
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*featured tea section*/

.tea-of-month{
  display: block;
  align-items: center;
  justify-content: center;
}


#featuredtea{
  width: 1000px;
  height: auto
  margin: 30px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tea-captions span{
  width: 300px
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tea-images {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*locations section*/

#locations{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-position:center;
  height: 500px;
  width: 1200px;
  margin-top: 50px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.locations-text {
  top: 35%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.location-containers{
  width: 980px;
  display: flex;
  justify-content: space-between;
}

.box{
  background-color: black;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*Contact section*/

.contact-us{
margin: 10px;
height: 200px;
}

/*footer section*/

.footer {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
